// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.elite {
  text-align: center;
  font-family: helvetica;
  font-size: 39px;
}


.logo {
  text-align: center;
  height: 10em;
  width: 10em;
}

.elite_team_info {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.stat_cat {
  display: inline-block;;
  text-align: left;
  padding: 5px;
  border-radius: 10px;
  font-family: Ramaraja;
  font-size: 33px;

}

.elite_description {
  text-align: center;
}
