// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dribble_pic {
  height: 1em;
}



.team_stats {
  float: left;
  background-color: #48494c;
}

.header {
  background-color: #224188;
  font-size: 2em;
  font-weight: bold;
  color: white
}

.player_stats {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

.img-rounded {
  width: 15em;
  height: 15em;
  float: left;
  background-color: white;
  padding: 1px;
  border: solid black 5px;
}

.col-md-4 {
  border: solid white 1px;
  background-color: #48494c;
  padding: 6px;

}
